<app-meni></app-meni>
<form style="margin: 1%; border-color: red;">
    <p>Podaci o osiguraniku</p>
    <div class="row" style="margin-top: 1%; margin-bottom: 1%; width: 51%;">
        <div class="col">
            <input type="text" class="form-control" placeholder="Ime i prezime osiguranika">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Broj zdravstvene knjizice">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Broj licne karte">
        </div>
    </div>
</form>

<form style="margin: 1%; border-color: red;">
    <p>Pregled podataka o receptu</p>
    <div class="row" style="margin-top: 1%; width: 51%;">
        <div class="col">
            <input type="text" class="form-control" placeholder="Datum propisanog lijeka">
        </div>
    </div>
    <div class="row" style="margin-top: 1%;">
        <div class="col">
            <input type="text" class="form-control" placeholder="Ljekar">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Dijagnoza">
        </div>
    </div>
    <div class="row" style="margin-top: 1%;">
        <div class="col">
            <input type="text" class="form-control" placeholder="Sifra lijeka">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Naziv lijeka">
        </div>
    </div>
    <div class="row" style="margin-top: 1%; width: 51%;">
        <div class="col">
            <input type="text" class="form-control" placeholder="Datum izdavanja lijeka">
        </div>
    </div>
    <div class="row" style="margin-top: 1%;">
        <div class="col">
            <input type="text" class="form-control" placeholder="Cijena lijeka">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Kolicina">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Ukupno">
        </div>
    </div>
</form>

<form style="margin: 1%; border-color: red;">
    <button type="button" class="btn btn-primary">Spasi</button>
    <button type="button" class="btn btn-secondary" style="margin-left: 1%;">Odustani</button>
</form>