<app-meni></app-meni>
<form style="margin: 1%; border-color: red;">
    <p>Unos nove stavke</p>
    <div class="row" style="margin-top: 1%;">
        <div class="col">
            <input type="text" class="form-control" placeholder="Naziv lijeka">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Kolicina">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Cijena">
        </div>
    </div>
</form>

<form style="margin: 1%; border-color: red;">
    <p>Podaci dostavljacu</p>
    <div class="row" style="margin-top: 1%;">
        <div class="col">
            <input type="text" class="form-control" placeholder="Apoteka">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Adresa">
        </div>
    </div>
</form>
<form style="margin: 1%; border-color: red;">
    <button type="button" class="btn btn-primary">Spasi</button>
    <button type="button" class="btn btn-secondary" style="margin-left: 1%;">Odustani</button>
</form>