<app-meni></app-meni>
<form style="margin: 1%; border-color: red;">
    <p>Pregled reecpara u bazi</p>
    <div class="row" style="margin-top: 1%; margin-left: 2%;">
        <div class="col">
            <label style="float: left; margin-top: 0.5%; margin-right: 6.5%;">Broj arhiviranih:</label>
            <input type="text" class="form-control" style="width: 30%;">
        </div>
    </div>
    <div class="row" style="margin-top: 1%; margin-left: 2%;">
        <div class="col">
            <label style="float: left; margin-top: 0.5%; margin-right: 7.4%;">Broj poslanih:</label>
            <input type="text" class="form-control" style="width: 30%;">
        </div>
    </div>
    <div class="row" style="margin-top: 1%; margin-left: 2%;">   
        <div class="col">
            <label style="float: left; margin-top: 0.5%; margin-right: 7.8%;">Broj tekucih:</label>
            <input type="text" class="form-control" style="width: 30%;">
        </div>
    </div>
    <div class="row" style="margin-top: 1%; margin-left: 2%;">
        <div class="col">
            <label style="float: left; margin-top: 0.5%; margin-right: 1%;">Broj vracenih/neispravnih:</label>
            <input type="text" class="form-control" style="width: 30%;">
        </div>
    </div>
    <div class="row" style="margin-top: 1%; margin-left: 2%;">
        <div class="col">
            <label style="float: left; margin-top: 0.5%; margin-right: 7%;">Broj duplikata:</label>
            <input type="text" class="form-control" style="width: 30%;">
        </div>
    </div>
</form>