<app-meni></app-meni>
<div class="row">
    <nav class="navbar" style="margin-left: 1%;">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
</div>
<form style="margin: 1%; border-color: red;">
    <p>Pregled lijekova</p>
    <div class="row" style="margin-top: 1%;">
        <div class="col">
            <input type="text" class="form-control" placeholder="Sifra">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Naziv">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Proizvodjac">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Datum isteka">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Kolicina">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Cijena">
        </div>
    </div>
</form>